/* Body */

body {
    background-color: #ded4bd;
    padding-top: 148px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: #676869;
}

p,
li {
    font-size: 20px;
}

.aboutUs {
    text-align: center;
}

.aboutUs h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.headingFont {
    font-size: 200%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

/* Navbar */

.navbar {
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #e8e4d9;
}

.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
}

#navLinks {
    font-size: 160%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#navLinks a {
    text-decoration: none;
}

/* Footer */

footer {
    height: 80px;
    background-color: #e8e4d9;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    color: black;
}

/* Jumbotron */

.jumbotron-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/1B2A7100.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-container-one {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/1B2A7054.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-container-two {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/1B2A6576.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Contact page*/

.contact-container i {
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
    width: 100%;
}

/*Media queries*/

@media (max-width: 1025px) {
    .jumbotron-container {
        background: url("../images/1B2A6631.jpg") no-repeat fixed;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 1025px) {
    .jumbotron-container-one {
        background: url("../images/1B2A6521.jpg") no-repeat fixed;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 1025px) {
    .jumbotron-container-two {
        background: url("../images/DSC_3621.jpg") no-repeat fixed;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}