/* Body */

body {
    background-color: #ded4bd;
    /* padding-top: 98px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.aboutUs {
    text-align: center;
}

.aboutUs h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.headingFont {
    font-size: 200%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

/* Navbar */

.navbar {
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #e8e4d9;
}

.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
}

#navLinks {
    font-size: 160%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#navLinks a {
    text-decoration: none;
}

/* Footer */

footer {
    height: 80px;
    background-color: #e8e4d9;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    color: black;
}